*.userprefs
*.csproj
*.sln
Library
obj
Temp
Havoc Hotel/Assets/HavocHotel/Meshes/Materials.meta
Havoc Hotel/Assets/HavocHotel/Scenes/LUL.unity
Havoc Hotel/Assets/HavocHotel/Scenes/LUL.unity.meta
Havoc Hotel/Assets/HavocHotel/Scripts/DestroyLevel.cs
Havoc Hotel/Assets/HavocHotel/Scripts/DestroyLevel.cs.meta
